body {
    font-family: "Comic Sans MS", cursive, sans-serif
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table{
    height:300px;
}

tbody{
    overflow-y: scroll;
    height: 400px;
    width: 70%;
    position: absolute;
}