<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <div class="well well-sm">
            <b>Filter:</b> <input ng-model="searchCriteria" ng-model-options="{debounce:500}" ng-change="fetchDNSKeys()">
        </div>

        <table class="table table-striped">
            <thread>
                <tr>
                    <th>Domain</th>
                    <th>N</th>
                    <th>Is Modulus Shared?</th>
                    <th>Is Key Weak?</th>
                </tr>
            </thread>

            <tr ng-repeat="dnskey in dnskeys">
                <td>{{ dnskey.domain }}</td>
                <td>{{ dnskey.N | cut:false:20:'...'}}</td>
                <td>{{ dnskey.is_shared }}</td>
                <td>{{ dnskey.is_factorable }}</td>
            </tr>
        </table>

    </div>
</div>
